<div class="top-bar">
    <mat-toolbar color="primary" fxLayout="row">
      <div class="container">
        <img class="app-icon" src="assets/splash_icon.png" alt="App Icon" />
        <h1 class="app-name">GuideProject</h1>
        <h1 class="title">Awesome App</h1>
        <div class="icons">
            <button mat-icon-button class="round-button"><mat-icon>share</mat-icon></button>
            <button mat-icon-button class="round-button"><mat-icon>exit_to_app</mat-icon></button>
            <button mat-icon-button class="round-button"><mat-icon>help</mat-icon></button>
          </div>
      </div>
    </mat-toolbar>
  </div>
  
  <div class="menu-app">
    <mat-nav-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 2</mat-list-item>
    </mat-nav-list>
  </div>
  